/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* ------------------------------- */

.poppins-thin {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* ------------------------------- */

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #303030;
    font-size: 1.1rem;
    padding: 2.8rem 2.8rem 0 2.8rem;
    -webkit-tap-highlight-color: transparent;
}
* {
    scrollbar-width: thin;
    font: inherit;
}
* {
    transition:
        top 0.35s cubic-bezier(0.19, 1, 0.22, 1),
        left 0.35s cubic-bezier(0.19, 1, 0.22, 1),
        outline 0.35s cubic-bezier(0.19, 1, 0.22, 1),
        width 0.35s cubic-bezier(0.19, 1, 0.22, 1),
        box-shadow 0.35s cubic-bezier(0.19, 1, 0.22, 1),
        border 0.35s cubic-bezier(0.19, 1, 0.22, 1),
        transform 0.35s cubic-bezier(0.19, 1, 0.22, 1),
        opacity 0.35s cubic-bezier(0.19, 1, 0.22, 1),
        color 0.25s cubic-bezier(0.19, 1, 0.22, 1),
        background-color 0.65s cubic-bezier(0.19, 1, 0.22, 1),
        padding 0.35s cubic-bezier(0.19, 1, 0.22, 1),
        margin 0.35s cubic-bezier(0.19, 1, 0.22, 1) !important;
}
input:not([type='radio']):not([type='checkbox']) {
    padding: 12px 16px;
    border-radius: 8px;
    margin-bottom: 12px;
    border: 0;
    font-size: 15px;
    height: 46px;
    width: 300px;
    outline: 2px solid transparent;
}
label {
    cursor: pointer;
    font-size: 15px;
}
input[type='radio'] {
    margin-right: 6px;
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}

input[type='date'] {
    position: relative;
    padding-left: 120px !important;
}

input[type='date']:before {
    position: absolute;
    top: 16px;
    left: 16px;
    color: gray;
    content: attr(placeholder2) !important;
    margin-right: 0.5em;
}
input[type='date']:focus:before {
    /* content: '' !important; */
}
input:not([type='radio']):not([type='checkbox']):focus {
    outline: 2px solid #13afcc;
}
input[type='radio'],
input[type='checkbox'] {
    accent-color: #13afcc;
    background-color: white;
}

input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    padding: 3px;
    border: 2px solid #909090;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
input[type='radio']:checked {
    background-clip: content-box;
    background-color: #13afcc;
    border-color: #13afcc;
}

a,
a.href_status_trigger_post {
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    color: #13afcc !important;
}
a:hover {
    box-shadow: inset 0 -2px 0 0 #13afcc;
}
b {
    font-weight: 600;
}
.flex {
    display: flex;
}
button {
    font-weight: 600;
    cursor: pointer;
    border-radius: 100px;
    border: 0;
    color: #13afcc;
    background-color: transparent;
    padding: 14px 24px;
}
button.primary:hover {
    background-color: #1096ae;
}
button:not(.primary):hover {
    background-color: #13afcc;
    color: white;
}
button.primary {
    background-color: #13afcc;
    color: white;
}
.loginformouter {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffffa0;
    backdrop-filter: blur(8px);
}
.loginform {
    background-color: #e3f7fca0;
    backdrop-filter: blur(16px);
    padding: 28px;
    border-radius: 28px;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hidden {
    display: none;
}
.centered {
    text-align: center;
}
.sub.hero {
    padding-right: 0;
}
.sub {
    width: 100%;
    position: relative;
    display: flex;
    gap: 28px;
    padding: 5rem 3.8rem 5rem 2.8rem;
}

.sub1 {
    background-color: white;
}
.sub1 > div {
    width: 50%;
}
.sub1 > div:first-child {
    width: 50%;
    padding: 0 28px;
    flex-wrap: wrap;
    align-content: center;
}
.sub2 {
    /* background-color: #e3f7fc; */
    background-image: linear-gradient(#e3f7fc, #eef3fa);
    margin: 0 -2.8rem;
    width: auto;
}
.sub2 > div {
    width: 50%;
}
.sub2 > div:first-child {
    width: 50%;
    padding: 0 28px;
    flex-wrap: wrap;
    align-content: center;
}
.sub > div:only-child {
    width: 100%;
}
.sub3 {
    background-image: linear-gradient(#eef3fa, #e3f7fc);
}
.hero {
    padding: 0;
    gap: 0;
    align-items: stretch;
    border-radius: 2.8rem;
    background-color: #e3f7fc;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-image: url(img/running-logo.png);
    background-size: 80%;
    background-size: cover;
    background-position: -100% 0%;
    background-repeat: no-repeat;
}
.hero .welcome {
    text-align: center;
    font-size: 1.7rem;
    white-space: nowrap;
    font-weight: 300;
    padding: 3rem 6rem 4rem 6rem;
    /* background-image: linear-gradient(#eef3fa, #e3f7fc); */
}
.hero .image {
    width: 100%;
    height: 600px;
    min-height: 60vh;
    background-image: url(img/rajt2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    align-self: stretch;
    flex-grow: 1;
    position: relative;
}
.hero .logo {
    width: 150px;
}

.hero .welcome .logobig {
    width: 100%;
    max-width: 400px;
    margin-bottom: 2.2rem;
}
.hero .welcome .text {
    margin-bottom: 3.8rem;
}

.hero .welcome button {
    padding: 1.5rem 2.1rem;
    font-size: 1.4rem;
}
.longtext {
    max-width: 700px;
}
.smallcard {
    position: relative;
    background-color: #00000010;
    border-radius: 1rem;
    width: 13rem;
    text-align: center;
    height: 90px;
    font-size: 1rem;
    font-weight: 600;
}
.smallcard span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-right: 2rem;
    width: 80%;
}
.smallcard::after {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    content: '✔';
    font-size: 20px;
    color: #00000080;
    background-color: #ffffff90;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}
.smallcard:nth-child(1) {
    background-color: #faedcb;
}
.smallcard:nth-child(2) {
    background-color: #c9e4de;
}
.smallcard:nth-child(3) {
    background-color: #c6def1;
}
.smallcard:nth-child(4) {
    background-color: #dbcdf0;
}
.smallcard:nth-child(5) {
    background-color: #f2c6de;
}
.smallcard:nth-child(6) {
    background-color: #f7d9c4;
}
.smallcard:nth-child(7) {
    background-color: #faedcb;
}
.smallcard:nth-child(8) {
    background-color: #c6def1;
}
.smallcard:nth-child(9) {
    background-color: #c9e4de;
}
.sponsors {
    margin: 60px 0;
    justify-content: space-around;
    align-items: center;
}
.sponsors div {
    position: relative;
    width: 12rem;
    margin: 20px;
}
.sponsors div img {
    /* transform: translateY(-50%);
    margin-top: 6rem; */
    filter: grayscale(100%);
    margin: 0 auto;
    width: 100%;
    max-width: 200px;
}
.sponsors div img:hover {
    filter: none;
}
.mapframe {
    border-radius: 2rem;
    border: 4px solid #13afcc;
    overflow: hidden;
}
.mapframe iframe {
    display: block;
}
hr {
    height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    border-bottom: 4px solid #13afcc;
}

.sk-ww-facebook-group-posts {
    background-color: transparent !important;
    font: inherit !important;
    margin-top: 40px;
}
.sk-fb-page-name {
    font: inherit !important;
}
.sk_branding.sk_branding {
    display: none !important;
    pointer-events: none !important;
    opacity: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
}
button.sk-facebook-feed-load-more-posts {
    border-radius: 100px !important;
    padding: 12px 24px !important;
    background-color: #13afcc !important;
}
.grid-item-facebook-feed .grid-content {
    box-shadow: none !important;
    border: 4px solid #eef3fa !important;
    /* background-color: #e3f7fc !important; */
    border-radius: 28px !important;
    padding: 20px 20px 30px 20px !important;
}
.sk_post_img,
.post-content iframe {
    border-radius: 12px;
}
h3 {
    display: inline-block;
    margin: 0;
    font-size: 1.3rem;
    font-weight: 700;
}
.smallcards {
    gap: 20px;
    justify-content: center;
}
.facebookon {
    padding: 4rem;
}
.relative {
    position: relative;
}
img.fb {
    width: 30px;
    height: 30px;
    position: absolute;
    left: -34px;
    top: -2px;
}
@media (max-width: 1100px) {
    .sub.hero {
        flex-wrap: wrap;
    }
    .sub.hero > div {
        width: 100%;
    }
}

@media (max-width: 900px) {
    body {
        padding: 1rem 1rem 0 1rem;
    }
    .sub {
        padding: 4rem 1.9rem 4.5rem 1.9rem;
        flex-wrap: wrap;
    }
    .sub2 {
        margin: 0 -1rem;
    }
    .sub > div:not(.welcome),
    .sub > div:first-child:not(.welcome) {
        width: 100%;
    }
    .sub2 > div {
        padding: 0 16px !important;
    }
    .sub.hero {
        padding: 0;
        background-position: 0 0;
        background-size: 230%;
        background-position: 80% 0%;
    }
    .sub.hero .image {
        height: 500px;
        min-height: 500;
    }
    .sub.hero .welcome {
        padding: 3rem 2rem 4rem 2rem;
        font-size: 1.3rem;
    }
    .sub.hero .welcome button {
        font-size: 1.2rem;
        padding: 1rem 1.8rem;
    }
    .sponsors {
        flex-wrap: wrap;
    }
    .sponsors div {
        width: 60%;
    }
    .sub1 > div.smallcards {
        padding: 0;
        /* margin: 0 -40px; */
        width: auto;
    }
    .smallcard {
        width: 9rem;
        font-size: 13px;
        height: 70px;
    }
    .smallcard span {
        left: 40%;
        padding-right: 0;
        width: 60%;
    }
    .smallcard::after {
        right: 8px;
        transform: scale(0.8) translateY(-60%);
        transform-origin: center center;
    }
    .facebookon {
        padding: 4rem 1rem;
    }
}
